.formElement {
	width: 240px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px;
	border-bottom: 1px solid #e5e5e5;
}

.label {
	width: 100%;
	padding: 8px;
	font-weight: 600;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
	color: rgba(0, 0, 0, .8);
}

.formElement .formRow {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 4px;
}
