.switch {
	border: 1px solid transparent;
	border-radius: 2px;
	padding: 0;
	display: flex;
}

.switch:hover {
	border-color: rgba(0, 0, 0, 0.1);
}

.switch:focus-within {
	border-color: #18a0fb;
	box-shadow: 0 0 0 1px #18a0fb inset;
}

.switchOption {
	background: none;
	border: 0px;
	fill: rgba(0, 0, 0, 0.8);
	width: 24px;
	height: 24px;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
}

.selectedOption {
	background: rgba(0, 0, 0, 0.1);
	outline: none;
}
